#anchorPane {
    -fx-background-color:"#f7e6cd";
}

#primaryText {
    -fx-font-size: 30px;
    -fx-font-family: Arial, Helvetica, sans-serif;
}

#secondaryText, #bodyText {
    -fx-font-size: 20px;
    -fx-font-family: Arial, Helvetica, sans-serif;
}

#errorText {
    -fx-font-size: 15px;
    -fx-font-family: Arial, Helvetica, sans-serif;
}