.root {
    -fx-font-family: Arial, Helvetica, sans-serif;
}

#anchorPane {
    -fx-background-color:"#dedee0";
}

#primaryText {
    -fx-font-size: 30px;
}

#secondaryText, #bodyText {
    -fx-font-size: 20px;
}

#errorText > .viewport {
    -fx-font-size: 15px;
    -fx-background-color:"#dedee0";
}

#scrollPane > .viewport {
    -fx-font-size: 20px;
    -fx-background-color:"#dedee0";
}

#nextButton, #cancelButton, #backButton, #finishButton {
    -fx-font-size: 15px;
}