.root {
    -fx-font-family: Arial, Helvetica, sans-serif;
}

#anchorPane {
    -fx-background-color:"#dedee0";
}

#primaryText {
    -fx-font-size: 30px;
}

#secondaryText {
    -fx-font-size: 20px;
}

#errorText > .viewport {
    -fx-font-size: 15px;
    -fx-background-color:"#dedee0";
}

#bodyText > .viewport {
    /* -fx-font-size: 20px; */
    -fx-background-color:"#dedee0";
}

#nextButton, #cancelButton, #backButton, #finishButton {
    -fx-font-size: 15px;
}

#keyALabel, #boardLabel, #versionLabel {
    -fx-font-size: 10px;
}

#bodyText .scroll-bar:vertical, #bodyText .scroll-bar:vertical .increment-button, #bodyText .scroll-bar:vertical .decrement-button  {
    -fx-pref-width: 20;
    -fx-pref-height: 20;
}

#bodyText .scroll-bar:vertical {
    -fx-font-size: 10;
}